.about-page {
	display: block;
	opacity: 1;
	height: 100%;
}
.about {
	display: flex;
}
.about-left {
	position: relative;
	width: 45%;
	padding: 19rem 0rem 10rem 16rem;
	height: 100vh;
}
.about-right {
	position: relative;
	width: 55%;
	height: 100vh;
	padding: 19rem 8rem 10rem 1rem;
}
.about-picture {
	display: flex;
	justify-content: center;
}
.page-heading {
	font-size: 54px;
}
.about-text {
	margin-top: 16px;
	font-size: 1.4rem;
}
.about-resume {
	margin-top: 16px;
	font-size: 23px;
}
#about_img {
	width: 370px;
	height: 370px;
	border-radius: 20% 5% 20% 5%;
}
#download_img {
	width: 30px;
	height: 30px;
}
#link_img {
	width: 20px;
	height: 20px;
	padding-left: 3px;
	padding-bottom: 2px;
}
/* macbook pro 14" display */
@media (max-width: 1649px) {
	.about-resume {
		font-size: 20px;
	}
	.about-left {
		padding: 16rem 0rem 10rem 15rem;
	}
	.about-right {
		padding: 16rem 9rem 10rem 1rem;
	}
	.about-text {
		font-size: 1.2rem;
	}
	.page-heading {
		font-size: 48px;
	}
	#about_img {
		width: 390px;
		height: 390px;
	}
}
/* macbook air display */
@media (max-width: 1499px) {
	.about-left {
		padding: 13rem 0rem 10rem 15rem;
	}
	.about-right {
		padding: 13rem 9rem 9rem 2rem;
	}
	#about_img {
		width: 370px;
		height: 370px;
	}
}
/* tablet landscape */
@media (max-width: 1199px) {
	.about-left {
		padding: 14rem 2rem 10rem 12rem;
	}
	.about-right {
		padding: 15rem 9rem 9rem 2rem;
	}
	#about_img {
		width: 340px;
		height: 340px;
	}
}
/* tablet portrait */
@media (max-width: 849px) {
	.about {
		display: flex;
		flex-direction: column-reverse;
	}
	#about_img {
		width: 260px;
		height: 260px;
	}
	.about-right {
		width: 100%;
		padding: 12rem 0rem 0rem 0rem;
		height: auto;
	}
	.about-left {
		width: -webkit-calc(100% - 90px);
		padding: 30px 45px 20px 45px;
	}
	.left-text-wrapper {
		display: flex;
		justify-content: center;
	}
	.left-text {
		width: 600px;
	}
	.page-heading {
		font-size: 40px;
	}
	.about-text {
		font-size: 17px;
	}
}
/* mobile */
@media (max-width: 549px) {
	#about_img {
		width: 180px;
		height: 180px;
	}
	.about-right {
		padding: 8rem 0rem 0rem 0rem;
	}
	.left-text {
		width: 550px;
	}
	.page-heading {
		font-size: 32px;
	}
	.about-text {
		font-size: 15px;
	}
}
