
/* CONTACT */

.contact-page {
	display: block;
	opacity: 1;
	height: 100%;
}
.social-menu {
	display: flex;
	margin-top: 32px;
	align-items: center;
	justify-content: center;
}
.social-icon {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
  width: 8rem;
	height: 8rem;
}
.contact-left {
	display: flex;
	justify-content: center;
	width: 100%;
}
.contact-menu {
	width: 1000px;
}
.contact {
	position: relative;
	width: 100%;
	padding: 250px 0 160px 0;
	height: 100vh;
}
/* macbook pro 14" display */
@media (max-width: 1649px) {
	.contact {
		padding: 230px 0 160px 0;
	}
}
/* macbook air display */
@media (max-width: 1499px) {
	.contact {
		padding: 205px 0 160px 0;
	}
}
/* tablet landscape */
@media (max-width: 1199px) {
	.contact-menu {
		width: 800px;
	}
}
/* tablet portrait */
@media (max-width: 849px) {
	.contact-menu {
		width: 500px;
	}
	.contact {
		padding: 200px 0 160px 0;
	}
	.social-icon {
		width: 7rem;
		height: 7rem;
	}
}
/* mobile */
@media (max-width: 549px) {
	.contact-menu {
		width: 264px;
	}
	.contact {
		padding: 130px 0 0 0;
	}
	.social-icon {
		width: 6rem;
		height: 6rem;
	}
	.social-menu {
		flex-direction: column;
		margin-top: 20px;
	}
	.page-heading {
		font-size: 32px;
	}
}
