.contact {
	display: flex;
	padding: 19rem 0rem 10rem 0rem;
	justify-content: center;
	width: 100%;
}
.contact-menu {
	width: 1000px;
}
.social-menu {
	display: flex;
	margin-top: 32px;
	align-items: center;
	justify-content: center;
}
.social-icon {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
    width: 8rem;
	height: 8rem;
}
/* macbook pro 14" display */
@media (max-width: 1649px) {
	.contact {
		padding: 16rem 0rem 10rem 0rem;
	}
}
/* macbook air display */
@media (max-width: 1499px) {
	.contact {
		padding: 13rem 0rem 10rem 0rem;
	}
}
/* tablet landscape */
@media (max-width: 1199px) {
	.contact-menu {
		width: 800px;
	}
}
/* tablet portrait */
@media (max-width: 849px) {
	.contact-menu {
		width: 500px;
	}
	.contact {
		padding: 200px 0 160px 0;
	}
	.social-icon-img {
		width: 95px;
		height: 95px;
	}
}
/* mobile */
@media (max-width: 549px) {
	.contact-menu {
		width: 264px;
	}
	.contact {
		padding: 130px 0 0 0;
	}
	.social-icon-img {
		width: 80px;
		height: 80px;
	}
	.social-menu {
		flex-direction: column;
		margin-top: 20px;
	}
	.page-heading {
		font-size: 32px;
	}
}
