$font-family_1: 'Fasthand', cursive;

.home-page {
	display: block;
	opacity: 1;
}
.menu {
	height: 100vh;
	width: 100vw;
	z-index: 1;
}
.menu-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.link-wrapper {
	text-align: center;
	font-weight: 500;
	font-size: 60px;
	padding-top: .4rem;
	padding-bottom: .4rem;
}
.link-wrapper-sub {
	text-align: center;
	font-weight: 500;
	font-size: 30px;
	padding-top: .4rem;
	padding-bottom: .4rem;
	padding-left: 12vw;
	padding-right: 12vw;
}
.link-wrapper button {
	color: black;
}
.dxvid-wrapper {
	text-align: center;
	font-family: $font-family_1;
	font-weight: 500;
	font-size: 35px;
}
/* macbook pro 14" display */
@media (max-width: 1649px) {
	.link-wrapper {
		font-size: 55px;
		margin-top: .3rem;
		margin-bottom: .3rem;
	}
}
/* macbook air display */
@media (max-width: 1499px) {
	.link-wrapper {
		font-size: 50px;
	}
}
/* mobile */
@media (max-width: 549px) {
	.link-wrapper {
		font-size: 35px;
	}
	.link-wrapper button {
		font-size: 35px;
	}
	.dxvid-wrapper {
		font-size: 25px;
	}
}
