.projects {
	display: flex;
}
.projects-left {
	position: relative;
	width: 45%;
	padding: 11rem 0rem 10rem 15rem;
}
.card {
	display: flex;
	justify-content: space-between;
	padding: .7rem 0;
	align-items: center;
}
.card-title {
	font-size: 1.4rem;
}
.card-subtitle {
	font-size: 1rem;
}

.projects-right {
	position: relative;
	padding: 13rem 2rem 10rem 9rem;
	height: 100vh;
	width: 55%;
}
.project-image {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
	img {
		width: 400px;
		height: 400px;
		border-radius: 20% 5% 20% 5%;
	}
}
/* tablet landscape */
@media (max-width: 1199px) {
	.projects {
		width: 100%;
		display: block;
	}
	.projects-right {
		display: none;
	}
	.projects-left {
		width: -webkit-calc(100% - 400px);
		padding: 224px 200px 0 200px;
	}
}
/* tablet portrait */
@media (max-width: 849px) {
	.projects-left {
		width: -webkit-calc(100% - 340px);
		padding: 200px 170px 0 170px;
	}
	.page-heading {
		font-size: 40px;
	}
	.card-title {
		font-size: 24px;
	}
	.card-subtitle {
		font-size: 16px;
		width: 160px;
	}
}
/* mobile */
@media (max-width: 549px) {
	.projects-left {
		width: -webkit-calc(100% - 150px);
		padding: 130px 75px 0 75px;
	}
	.card-title {
		font-size: 20px;
	}
	.card-subtitle {
		font-size: 12px;
		width: 90px;
	}
	.page-heading {
		font-size: 32px;
	}
	.card {
		padding: .3rem 0;
	}
}